body, html {
    margin: 0;
    height: 100%;
}

header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-left: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 200px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    z-index: 1000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background: #222;
    min-height: 100vh;
    position: fixed;
}

li {
    border-bottom: 1px solid #444;
}

li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
}

li a:hover {
    background: #444;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.flex-container > div {
    margin: 10px;
    flex: 1;
    border: solid 1pt black;
    border-radius: 10px;
    padding: 10px;
}

#apple_img {
    width: 500px;
    height: 500px;
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.blocks {
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 300px;
}