body{
    font-family: "Comic Sans MS";
    margin: 0;
    background: linear-gradient(purple, black);
}

div.card {
    font-family: Verdana, sans-serif;
    color: white;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
}

div.card h2{
    text-align: center;
}

footer {
    font-family: Verdana, sans-serif;
    margin-top: 40px;
    padding: 10px;
    background: #eee;
    text-align: center;
    z-index: -1000;
}

nav {
    flex: 1;
    margin-left: -100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}
nav ul li a {
    display: block;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    gap: 20px;
    text-decoration: none;
    font-family: "Comic Sans MS";
}
nav ul li a:hover {
    color: purple;
    background: white;
    transition: 0.2s;
}

header h3 {
    margin: 0;
    color: white;
    flex: 0;
    text-align: left;
}

header h3 a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: black;
    opacity: 0.6;
}

.tooted_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tooted_container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
}

.tooted_container ul li a:hover {
    color: purple;
    background: white;
    transition: 0.2s;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.product-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.tooted_container img {
    height: 250px;
    width: 300px;
}
